[submodule "submodules/ArduPilot_cus"]
	path = submodules/ArduPilot_cus
	url = https://github.com/kwakurichter/ArduPilot_cus.git
[submodule "submodules/nrf-firmware-cus"]
	path = submodules/nrf-firmware-cus
	url = https://github.com/kwakurichter/nrf-firmware-cus.git
[submodule "submodules/aideck-firmware-cus"]
	path = submodules/aideck-firmware-cus
	url = https://github.com/kwakurichter/aideck-firmware-cus.git
[submodule "submodules/crazyradio-cus"]
	path = submodules/crazyradio-cus
	url = https://github.com/kwakurichter/crazyradio-cus.git
